services:
	- App\Core\RouterFactory::createRouter
	- App\Core\LoginService
	- App\Core\DevicesService
	- App\Core\AtelierService
	- App\Core\RolesService
	- App\Core\UsersService
	- App\Core\MyProfileService



search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
