<div id="cancel_header">
        <h2 id="cancel_nadpis">Add device</h2>
        <button type="button" hx-get="{link Devices:devices}" hx-target="#device_body" hx-select="#device_body">Cancel</button>
</div>
<div id="form-container">
    {control addDeviceForm}

    <button>Submit</button>
</div>