<hr>
    <div id="cancel_header">
            <h2 id="cancel_nadpis">hu</h2>
            <button type="button" hx-get="{link Devices:devices}" hx-target="#uwu" hx-select="#uwu">Cancel</button>
    </div>
{control editGroupForm}