
{block content}
<div id="edit_div">

<div id="cancel_header">
	<h2 id="cancel_nadpis">User editing</h2>
	<button type="button" hx-get="{link Users:users}" hx-target="#form-container" hx-select="#form-container">Cancel</button>
</div>
{control editUserForm}

</div>
{/block}
