{layout '../layout.latte'}

{block content}
<hr>
<div id="cancel_header">
	<h2 id="cancel_nadpis">User editing</h2>
	<button type="button" hx-get="{link User:user}" hx-target="#edit_div" hx-swap="innerHTML">Cancel</button>
</div>
{control editUserForm}
{/block}
