<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<div class = "menu">
		<a n:href="MainPage:mainpage" class="mainpage-menu">Main Page</a>
		<a n:href="Devices:devices" class="devices-menu">Device management</a>
		<a n:href="Atelier:atelier" class="ateliers-menu">Atelier management</a>
		<a n:href="MyProfile:myprofile" class="myprofile-menu">My profile</a>
		<a n:href="Users:users" class="users-menu">Users</a>
		<a n:href="Login:out" class="logout-menu">Log out</a>
	</div>

	{include content}
	<script src="{$basePath}/js/netteForms.min.js"></script>
	<script src="https://unpkg.com/htmx.org@2.0.3"></script>
</body>
</html>
